@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");

:root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Doto", sans-serif;
 }



body{
    font-family: var(--primary-font);
    margin: 8%;
}

header{
    font-family: var(--secondary-font);
    border-bottom: solid #888 3px;

}   
img {
    width: 100%;
}

.title{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    /* max-width: 70%; */
    
    gap: 0;
    margin-bottom: 10%;

}
.title h1{
    /* align-content: end;  */
    font-size:3em;
    
    margin: 0;
    /* margin-bottom: -.23em; */
    /* max-width: 100%; */
}
.main_icon {
   
    max-width: 25%;
    height: max-content;
}


.search_form{
    display: flex;
    /* flex: auto 1 1 auto; */
    flex-direction: row;
    gap: 0;
    /* width: 100%; */
    margin-bottom: 32px;
    justify-content:space-between;
}

#search{
    padding: 12px;
    border-radius: 5px 0px 0px 5px ;
    border: solid #333 3px ;
    border-right: none;
    width:90%;
    
}
.search_button{
    /* margin-left: -80px; */
    /* margin-top: 2px; */
    /* padding: px; */
    border: solid #333 3px;
    /* border-left: none; */
    border-radius: 0px 5px 5px 0px;
    
    width: 10%;
}
.search_button img{
    height: 32px;
    /* width: auto; */
}

main {
    margin-top: 32px;
}

.recipe_entry{
    border:solid #333 3px;
    border-radius: 5px;
    padding: 4%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 2%;
}

.tag_section{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 8px;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #333 2px;
    /* width: auto; */
    height:1.6em;   
    width:fit-content;
    font-size: 1.3rem;
    padding: 0px 12px;
    margin: 4px 4px;
}



main h3 {
    font-family: var(--secondary-font);
    
    font-weight: 700;
    font-size: 2.2em;
    margin: 0;
}

main p{
    margin-top: 10%;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 60px;
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.media_icon{
    width: 60px;
    height: 60px;
}
footer a{
    text-align: center;
    text-decoration: none;
    color: #59c3c3;
    font-size: 1.05rem;
}

@media screen and (min-width: 700px){
    .title h1{
        font-size:4rem;
    
        margin: 0;
    }
    .recipe_entry{
        flex-direction: row;
        gap: 3.2%;
    }
    .food_image{
        width:60%;
        height: max-content;
        object-fit: cover;
        align-self: center;   
    }

}
@media screen and (min-width: 960px){
    html{
        max-width: 960px;
        margin: 0 auto;
    }

}