@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");

:root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Doto", sans-serif;
 }



body{
    font-family: var(--primary-font);
    margin: 10%;
}

header{
    font-family: var(--secondary-font);
    border-bottom: solid #888 3px;

}   
img {
    width: 100%;
}

.title{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    /* max-width: 70%; */
    
    gap: 0;
    margin-bottom: 10%;

}
.title h1{
    /* align-content: end;  */
    font-size:3em;
    
    margin: 0;
    /* margin-bottom: -.23em; */
    /* max-width: 100%; */
}
.main_icon {
    /* size: 1em; */
    max-width: 25%;
    height: max-content;
}


.search_form{
    display: flex;
    /* flex: auto 1 1 auto; */
    flex-direction: row;
    gap: 0;
    /* width: 100%; */
    margin-bottom: 32px;
    justify-content: center;
}

#search{
    padding: 12px;
    border-radius: 5px;
    border: solid #333 3px;
    width:100%;
}
.search_form img{
    height: 32px;
    width: max-content;
    margin-left: -43px;
    margin-top: 2px;
    padding: 4px;
    border-left: solid #333 3px;
    
}

main {
    margin-top: 32px;
}

.recipe_entry{
    border:solid #333 3px;
    border-radius: 5px;
    padding: 6%;
    display: flex;
    flex-direction: column;
}

.tag_section{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #333 2px;
    /* width: auto; */
    height: 40px;   
    font-size: 1.4rem;
    padding: 0px 12px;
}

main h3 {
    font-family: var(--secondary-font);
    
    font-weight: 700;
    font-size: 2.2em;
    margin: 0;
}

main p{
    margin-top: 10%;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 60px;
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.media_icon{
    width: 60px;
    height: 60px;
}
footer a{
    text-align: center;
    text-decoration: none;
    color: #59c3c3;
    font-size: 1.05rem;
}

@media screen and (min-width: 600px){
    .title h1{
        font-size:4rem;
    
        margin: 0;
    }
    .recipe_entry{
        flex-direction: row;
        gap: 3.2%;
    }
    .food_image{
        width:60%;
        height: max-content;
        align-self: center;   
    }

}
@media screen and (min-width: 960px){
    html{
        max-width: 960px;
        margin: 0 auto;
    }

}