@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #c0b7b1;
  --secondary-color: #8b8a83;
  --accent1-color: #05508b;
  --accent2-color: black;

  /* change the values below to your chosen font(s) */
  --heading-font: "Oswald", sans-serif;
  --paragraph-font: "Roboto", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --secondary-color
  ); /* headlines on a white background */
  --headline-color-on-color: var(--accent1-color); /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --accent2-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */
  --paragraph-background-color: var(--secondary-color);
  --nav-link-color: white;
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}
body{
  background-color: var(--primary-color);
  margin: 0;

}
header{
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
  height: 5rem;
}
.logo{
  margin-left: 32px;
  z-index: 1;
}
.logosmall{
  display: none;
}
.header_splash {
  font-size:4vw;
  font-family: var(--paragraph-font);
  color: RGBa(0, 0, 0, .3);
  font-weight: 500;
  /* margin-top: 1.8rem; */
  z-index: -1;
  position: absolute;
  margin-left: 18%;
  
}
form{
  margin-right: 32px;
  
  display: flex;
  align-content: center;
  gap: 9px;
  z-index: 1;
}
.search_icon{
  width:auto;
  height:2rem;
}
/* form input{
  background-color: RGBa(255, 255, 255, .3);
  border: none;
  font-size: 1em;
  
} */


main{
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
}

aside{
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  max-height: fit-content;
  margin: 4% 0 0 1%;
  background-color: var(--secondary-color);
  /* border: solid var(--accent2-color) 3px; */
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 0 4px 14px 4px;
  gap:4%;
  
}

.hero{
  grid-column: 1 /-1;
  grid-row: 1;
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  z-index: -1;
}

aside a {
  color: var(--accent1-color);
  font-size: large;
  font-family: var(--paragraph-font);
}
.page_header{
  padding: 16px;
  margin:0 25% 0 5%;
  font-family: var(--header-font);

}
.page_header h1{
  color: var(--accent1-color);
  font-family: var(--paragraph-font);
  border-bottom: solid var(--accent1-color)  3px;
}
.all_project_holder{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
/* margin: 2%; */
}
.project_holder{
  width: fit-content;
  padding: 2%;
 
}
.text_display{
  display: none;
}
.show_text{
  display:block;
}

.line{
  border-bottom: solid 2px var(--accent1-color);
  margin: -10px 0 -20px 0;
}

.button_header{
  background-color: var(--secondary-color);
  width:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--paragraph-font);
  font-weight: 400;
  
  box-shadow: 1px 2px 6px 1px rgb(75, 75, 75);
}
.image_clicker{
  top:0;
  left:0;
  padding: 0;
  margin: 0;
  border:none ;
  padding-inline: 0;
  padding-block:0;
  outline: none;
  height: 126px;
  box-shadow: 1px 2px 6px 1px rgb(75, 75, 75);
}
.image_clicker:hover{
  box-shadow: 0px 3px 3px 3px var(--accent1-color);
}
.image_clicker img{
  box-shadow: 1px 2px 6px 1px rgb(75, 75, 75);
}


footer{
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 2%;
  ;
}

.footerLink{
  max-width: 3rem;
  min-width: 1rem;
  max-height: fit-content;
  margin: 4px 8px;
}
@media screen and (max-width: 600px) {
aside{
 gap:8%;
}
form input{
  display: None;
}
.logobig{
  display: none;
}
.logosmall{
  display: block;
  margin-bottom: 60%;
}
.header_splash{
  margin-left: 25%;
}


}
@media screen and (max-width: 1000px) {
  aside{
   gap:8%;
  }
  .header_splash{
    font-size: 3.8vw;
    margin-left: 13%;
  }
  
  .logobig{
    display: none;
  }
  .logosmall{
    display: block;
    margin-bottom: 60%;
  }
  
 
  
  }